
ArrayDemo1/.vs/ArrayDemo1/v16/.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.json
*.dll
*.exe
*.pdb
*.cache
*.props
*.targets
*.txt
ArrayDemo1/ArrayDemo1/obj/Debug/netcoreapp3.0/ArrayDemo1.AssemblyInfo.cs
ArrayDemo1/.vs/ArrayDemo1/DesignTimeBuild/.dtbcache
ArrayDemo2/.vs/ArrayDemo2/v16/.suo
ArrayDemo2/ArrayDemo2/obj/Debug/netcoreapp3.0/ArrayDemo2.AssemblyInfo.cs
ArrayDemo2/.vs/ArrayDemo2/DesignTimeBuild/.dtbcache
ArrayDemo/.vs/ArrayDemo/v16/.suo
ArrayDemo/ArrayDemo/obj/Debug/netcoreapp3.0/ArrayDemo.AssemblyInfo.cs
ArrayDemo/.vs/ArrayDemo/DesignTimeBuild/.dtbcache
CheckZips/.vs/CheckZips/v16/.suo
CheckZips/CheckZips/obj/Debug/netcoreapp3.0/CheckZips.AssemblyInfo.cs
DeliveryChanges/.vs/DeliveryChanges/v16/.suo
DeliveryChanges/DeliveryChanges/obj/Debug/netcoreapp3.0/DeliveryChanges.AssemblyInfo.cs
CheckZips/.vs/CheckZips/DesignTimeBuild/.dtbcache
DeliveryChanges/.vs/DeliveryChanges/DesignTimeBuild/.dtbcache
ChatAWhile/.vs/ChatAWhile/v16/.suo
ChatAWhile/ChatAWhile/obj/Debug/netcoreapp3.0/ChatAWhile.AssemblyInfo.cs
ChatAWhile/.vs/ChatAWhile/DesignTimeBuild/.dtbcache
WhippetBus/.vs/WhippetBus/v16/.suo
WhippetBus/WhippetBus/obj/Debug/netcoreapp3.0/WhippetBus.AssemblyInfo.cs
WhippetBus/.vs/WhippetBus/DesignTimeBuild/.dtbcache
